.carre1{
    height: 150px;
    width: 150px;
    background-color: chartreuse;
}
.carre2{
    height: 150px;
    width: 150px;
    background-color: blue;
}
.carre3{
    height: 150px;
    width: 150px;
    background-color: chocolate;
}
.carre4{
    height: 150px;
    width: 150px;
    background-color: darkmagenta;
}